<div class="container mt-5" style="align-items: center; text-align: center;">

       <ng-container *ngIf="items.length > 0">
        <h3 *ngFor="let item of items">{{ item }}</h3>
      </ng-container>

      <ng-container *ngIf="items.length <= 0">
        <h3> No Data Available.</h3>
      </ng-container>

     
     <br>
     <hr>
</div>

<h2>Summery</h2>
<p> <b>ng-container</b> is a structural directive which is a logical container that doesn't
render any extra DOM element. Userful for grouping content without introducing additional HTML.
</p>
<hr>