<div class="container mt-5" style="align-items: center; text-align: center;">
   <div class="Parent mb-5">
    <h2>Parent Component</h2>
   </div>

   <app-child-ng-content>
    <div class="card-header" style="color: rgb(44, 94, 230);">
        <h4>Child Card header Component</h4>
    </div>
    <div class="card-body">
        <h5>
            Child Card Body </h5>
            <p>This card is been loading from child component.</p>
        </div>
</app-child-ng-content>
<br>
<hr>
  
</div>

<h2>Summery</h2>
<p><b>ng-content</b> directive is used for content projection, which allows you to dynamically 
    inser content from parent component to into the child component template. This is 
    particularly used for creating reusable and flexible components.
</p>
<hr>
